{$AUTH_FQDN} {
    reverse_proxy authelia:9091
}

{$SILICON_FQDN} {
    forward_auth authelia:9091 {
        uri /api/verify?rd=https://{$AUTH_FQDN}/
    }
    reverse_proxy silicon:5000
}

{$NEXTCLOUD_FQDN} {
    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301

    reverse_proxy nextcloud.:80
}
