{$ROOT_DN} {
    @http {
        protocol http
    }
    redir @http {$ROOT_REDIRECT} permanent
    redir {$ROOT_REDIRECT} permanent
}

{$AUTH_FQDN} {
    reverse_proxy authelia.:9091
}

{$SILICON_FQDN} {
    forward_auth authelia.:9091 {
        uri /api/verify?rd=https://{$AUTH_FQDN}/
    }
    reverse_proxy silicon.:5000
}

{$NEXTCLOUD_FQDN} {
    redir /.well-known/carddav /remote.php/dav permanent
    redir /.well-known/caldav /remote.php/dav permanent

    reverse_proxy nextcloud.:80
}

{$IPV4_FQDN} {
    handle / {
        respond {remote_host}
    }
}
